

header h1 a {
	color: #CC0000;
	font-family:'Open Sans', serif;
	font-size: 45px;
	margin: 40px 0px;
	padding: 80px 0px 0px;
	text-decoration: none;
}

h2 {
	color: #000000;
	font-family: 'Open Sans', serif;
	font-size: 25px;
	padding: 0px;
}

h3 {
	color: #CCCCCD;
	font-family: 'Nixie One', serif;
	font-size: 40px;
	margin: 60px 0px -10px 0px;

}

h4 a {
	color: #000000;
	font-family: 'Open Sans', serif;
	font-size: 30px;
	text-decoration: none;
	margin: -20px 0px 20px 0px;
}

a.next {
	text-align:right;
	display: block;
	color: #CC0000;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	padding: 0px;
	text-decoration: none;
}

hr {
	border: 0;
	height: 0;
	color:#CCCCCD;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

article p:first-letter{
	font-family: 'Quicksand', serif;
	font-size: 90px;
	color: #CCCCCD;
	float: left; /* drop cap */
	line-height: 0.9;
}

p {
	font-family: 'Open Sans';
	font-size: 17px;
	line-height: 27px;
}

img {
	max-width: 100%;
	max-height: 100%;
	padding-bottom: 5px;
}

header nav a {
	color: #DADADB;
	font-family: 'Open Sans', serif;
	font-size: 22px;
	padding-right: 18px;
}

#wrapper {
	width: 690px;
	margin: 0 auto;

}

footer nav ul {
	padding: 0;
	margin: 0;
}
footer nav li {
	display: block;
	float: left;
}

footer nav li a {
	list-style-type: none;
	color: #CC0000;
	font-family: 'Open Sans', serif;
	font-size: 17px;
	margin: 0;
	padding-right: 5px;
	padding-left: 5px;
	border-right: 1px solid #DADADB;
	text-decoration: none;
}

/*
#footernav ul {
	list-style-type: none;
	display: inline;
}


#footernav li + li {
    background:url('seperator.gif') no-repeat top left;
    padding-left: 10px
}

#footernav li:before {
	content: "  |  ";
	border: 0;
	height: 0;
	color:#CCCCCD;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
	}
*/

.clear:before, .clear:after {
	content: "!";
	display: block;
	height: 0;
	overflow: hidden;
}
	
.clear:after {
	clear: both;
}

footer {
	font-family: 'Open Sans';
	font-size: 17px;
	color: #CCCCCD;
	padding-top: 30px;
	padding-bottom: 80px;

}