#wrapper {
	width: 800px;
	margin: auto;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	width: auto;
	height: 120px;
	background-color: #000000;
	display: block;
}


aside {
	width: 266px;
}

div {


}

#overlay {
	position: relative;
}

footer {


}


h1 {
	color: #EBE157;
	font-size: 30px;
	padding-top: 20px;
	padding-left: 20px
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	background-color: #B1B1B3;
	display: inline;
	padding: 20px 141px;
}

.strikethrough {
	color: gray;
}

.underline {
	border-bottom: 4px solid gray;
	border-bottom-color: yellow;
}

header div {
	padding-bottom: 20px;
	border-bottom: 4px solid #EBE157;
}

header nav a {
	font-size: 20px;
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
	padding-right: 15px;
	margin-right: 5px;
	float: right;
}


img {
	width: 100%;
	height: auto;
	float: right;
	clear: right;
	margin-top: -28px;
}

.strikethrough {
	text-decoration: line-through;
}

.clear:before, .clear:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
	
.clear:after {
	clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 